* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Chivo';
    color: #4F4F4F;
    font-size: 16px;
    font-size: 1rem;
    height: 100%;

}

body#home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    min-height: 100%;
    flex-direction: column;
}

.homeContainer {
    margin: 50px auto;
    margin-top: 0;
    width: 80%;
    max-width: 1200px;
    background-color: white;
    padding: 40px 60px 0 60px;
    ;
    border-radius: 5px;
}

@media (max-width: 850px) {
    .homeContainer {
        margin: 0px;
        width: 95%;
        padding: 5%;

    }
}

@media (max-width: 650px) {
    .homeContainer {
        margin: 0;
        width: 100%;
        padding: 5%;
        border-radius: 0;
    }
}

ul {
    list-style-type: none;
}

#socialMedia li {
    display: inline;
    margin-right: 25px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: .65rem;
    letter-spacing: .125rem;
    color: #828282;
}

#socialMedia {
    padding: 30px 0 10px 0;
    align-self: center;
    width: 80%;
    max-width: 1200px;
}

@media (max-width: 850px) {
    #socialMedia {
        margin: 0;
        width: 95%;
        height: 50px;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 650px) {
    #socialMedia li {
        padding: 0;
        margin-left: 10;
    }
    #socialMedia {
        padding: 10px 0px 10px 5%;
        align-self: baseline;
    }
}

#intro {
    margin-bottom: 55px;
}

h1,
h2 {
    font-size: 3.25rem;
    font-weight: 400;
}

@media (max-width: 650px) {
    h1 {
        font-size: 2.5rem;
        padding-top: 20px;
    }
}


h2 {
    color: #828282;
    opacity: .75;

}

@media (max-width: 650px) {
    h2 {
        font-size: 1.7rem;
        margin-top: 10px;
    }
}

h2 span {
    font-weight: 300;
}

h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 35px;
}

@media (max-width: 650px) {
    h3 {
        font-size: 1.5rem;
        margin-bottom: 30px;
    }
}

h4 {
    color: #828282;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .125rem;
    font-size: .8rem;
    margin-bottom: 25px;
}

a {
    color: #828282;
    font-weight: 400;
    transition: 1s;
    text-decoration: none;
}

a:hover {
    color: #009efd;
    transition: .25s;
}

p {
    line-height: 1.35;
}



/* HOME STYLES */

#homeContainer {
    display: flex;
}

@media (max-width: 650px) {
    #homeContainer {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}

#info {
    margin-left: 25%;
    max-width: 425px;
    font-weight: 300;
}

#info div:first-of-type {
    margin-bottom: 40px;
}

@media (max-width: 750px) {
    #info {
        margin-left: 15%;
    }
}

@media (max-width: 650px) {
    #info {
        margin-left: 0;
        max-width: auto;
    }
}

.homeList li,
p {
    font-size: 1rem;
}

.homeList li {
    margin-bottom: 17px;
}

.homeList li:last-of-type {
    margin-bottom: 45px;
}

@media (max-width: 650px) {
    .homeList li,
    p {
        font-size: 1.15rem;
    }

    .homeList li {
        margin-bottom: 20px;
    }
}

#accent {
    background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
    height: 1px;
    width: 80px;
    margin-top: -15px;
}

@media (max-width: 650px) {
    #accent {
        display: none;
    }
}

@media (max-width: 650px) {
    #homeTools {
        display: none;
    }
}


/*WORK STYLES*/

.workNav {
    background-color: #e0e0e0;
    height: 50px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center
}


.workNav ul {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 750px) {
    .workNav ul {
        width: 100%;
        padding: 0 5%;
    }
}


.workNav li {
    display: inline;
    font-size: .75rem;
    font-weight: 400;
    font-size: .65rem;
    letter-spacing: .125rem;
    color: #828282;
    margin-left: 25px;
}

@media (max-width: 450px) {
    .workNav li {
        margin-left: 20px;
    }
}

.workNav li:first-of-type {
    margin-right: auto;
    margin-left: 0;
}

.workNav a:first-of-type {
    font-weight: 700;
    margin-left: 0;
}

.workContainer {
    background-color: white;
    margin: 0 auto;
    padding-top: 50px;
    max-width: 700px;
}

.textWidth {
    max-width: 700px;
    margin: 0 auto;
}

@media (max-width: 750px) {
    .workContainer {
        margin: 0 auto;
        padding: 5%;
    }
}

.top div {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 75px;
}

@media (max-width: 650px) {
    .top div {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin-top: 10px;
        margin-bottom: 50px;
    }
}

.top div p {
    font-weight: 400;
}

@media (max-width: 650px) {
    .top div p {
        margin-top: 25px;
    }
}


.stats {
    font-size: .8rem;
    min-width: 150px;
    line-height: 1.2rem;
    opacity: .5;
    margin-left: 60px;
    font-weight: 400;
}

@media (max-width: 650px) {
    .stats {
        margin: 0;
    }
}

.workContainer h1 {
    font-size: 3rem;
}

@media (max-width: 650px) {
    .workContainer h1 {
        font-size: 2.5rem;
        padding-top: 20px;
    }
}

.workContainer p {
    font-weight: 300;
}

.workContainer p+p {
    padding-top: 10px;
}

.workContainer h3 {
    margin-bottom: 25px;
}

#prevnext {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: .85em;
    letter-spacing: .1rem;
    max-width: 700px;
    margin: 75px auto 30px auto;
}

@media (max-width: 650px) {
    #prevnext {
        margin-bottom: 0;
        margin-top: 50px;
    }
}

.imgGroup {
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 25px auto;
}

.imgGroupChild {
    min-width: 275px;
    width: 50%;
    height: 50%;
    padding: 5%;
    flex-grow: 1;
    border-radius: 10px;
}

.imgGroup img {
    padding: 3%;
    image-rendering: -webkit-optimize-contrast;
}

.imgDesc {
    font-size: .8em;
    font-style: italic;
    opacity: .75;
    margin-left: 0;
    margin-top: -15px;
    margin-bottom: 20px;
    max-width: 700px;
    
}

.soloImage {
    width: 100%;
    margin: 20px auto;
}

.endText p{
    font-size: 1.25rem;
    padding: 4%;
    margin: 50px auto 0 auto;
    background-color: lightgray
}

.prevnext {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: .85rem;
    letter-spacing: .1rem;
}

.prevnext a {
    font-weight: 700;
}