* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Chivo';
    color: #4F4F4F;
    font-size: 16px;
    font-size: 1rem;
    height: 100%;

}

body#home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    min-height: 100%;
    flex-direction: column;
}

.homeContainer {
    margin: 50px auto;
    margin-top: 0;
    width: 80%;
    max-width: 1000px;
    background-color: white;
    padding: 40px 40px 0 40px;
    ;
    border-radius: 5px;
}

@media (max-width: 650px) {
    .homeContainer {
        margin: 0;
        width: 100%;
        padding: 5%;
        border-radius: 0;
    }
}

ul {
    list-style-type: none;
}

#socialMedia li {
    display: inline;
    margin-right: 25px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: .65rem;
    letter-spacing: .125rem;
    color: #828282;
}

#socialMedia {
    padding: 30px 0 10px 0;
    align-self: center;
    width: 80%;
    max-width: 1000px;
}

@media (max-width: 650px) {
    #socialMedia li {
        padding: 0;
        margin-left: 10;
    }
    #socialMedia {
        padding: 10px 0px 10px 5%;
        align-self: baseline;
    }
}

#intro {
    margin-bottom: 50px;
}

h1,
h2 {
    font-size: 3.5rem;
    font-weight: 400;
}

@media (max-width: 650px) {
    h1 {
        font-size: 3rem;
    }
}


h2 {
    color: #828282;
    font-size: 2.25rem;
}

@media (max-width: 650px) {
    h2 {
        font-size: 1.75rem;
        margin-top: 10px;
    }
}

h2 span {
    font-weight: 300;
}

h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 35px;
}
@media (max-width: 650px) {
    h3 {
        font-size: 1.5rem;
        margin-bottom: 30px;
    }
}

h4 {
    color: #828282;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .125rem;
    font-size: .8rem;
    margin-bottom: 25px;
}

a {
    color: #828282;
    font-weight: 400;
    transition: 1s;
    text-decoration: none;
}

a:hover {
    color: #009efd;
    transition: .25s;
}

p {
    line-height: 1.25;
}


/* HOME STYLES */

#homeContainer {
    display: flex;
}

@media (max-width: 600px) {
    #homeContainer {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}

#info {
    margin-left: 15%;
    max-width: 425px;
    font-weight: 300;
}

#info div:first-of-type {
    margin-bottom: 40px;
}

@media (max-width: 600px) {
    #info {
        margin-left: 0;
        max-width: auto;
    }
}

.homeList li,
p {
    font-size: 1rem;
}

.homeList li {
    margin-bottom: 17px;
}

.homeList li:last-of-type {
    margin-bottom: 45px;
}

@media (max-width: 650px) {
    .homeList li, p {
        font-size: 1.15rem;
    }
    
    .homeList li {
        margin-bottom: 20px;
    }
}

#accent {
    background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
    height: 1px;
    width: 80px;
    margin-top: -15px;
}

@media (max-width: 600px) {
    #accent {
        display: none;
    }
}

@media (max-width: 600px) {
    #homeTools li {
        margin-bottom: 10px;
    }
    
    #homeTools li:last-of-type {
        margin-bottom: 55px;
    }
}


/*WORK STYLES*/

.workNav {
    background-color: lightgrey;
    height: 50px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.workNav ul {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.workNav li {
    display: inline;
    font-size: .75rem;
    font-weight: 400;
    font-size: .65rem;
    letter-spacing: .125rem;
    color: #828282;
    margin-left: 25px;
}

.workNav li:first-of-type {
    margin-right: auto;
    margin-left: 0;
    font-weight: 700;
}

.workNav a:first-of-type {
    font-weight: 700;
}

.workContainer {
    background-color: white;
}
